*, html {
  margin: 0; }

body {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 20px;
  background-color: #040404;
  color: #fff;
  margin: 0 auto;
  max-width: 1024px;
  padding-top: 20px; }

a:link {
  color: #fff;
  text-decoration: none; }

a:visited {
  color: #fff; }

a:hover {
  color: #db393f; }

img {
  width: 100%; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; }
  nav li {
    list-style: none;
    display: inline-block;
    line-height: 1em;
    padding: 0 20px;
    font-size: 25px; }
    nav li:nth-child(5) {
      padding: 0; }
    nav li:first-child {
      padding: 0; }

header {
  display: flex;
  padding-top: 20px; }
  header img {
    justify-content: center; }

main {
  padding-top: 10px; }

#portfolio_row .col-1-3 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-top-color: #727171;
  border-bottom-color: #727171;
  border-bottom-width: 2px;
  padding: 10px 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

footer {
  clear: both;
  background-color: #888; }
  footer li {
    font-size: 18px;
    list-style: none; }
    footer li:first-child {
      font-weight: bold; }
    footer li a:hover {
      color: #fff; }
