// Fonts

// Variables

$accentColor: #727171;


// Mixins

@mixin borderStyle($accentColor:#727171) {

	border-top-width: 2px;
   border-top-style: dotted;
   border-bottom-style: dotted;
   border-top-color: $accentColor;
   border-bottom-color: $accentColor;
   border-bottom-width: 2px;
} 


*, html {
	margin: 0;
	
}

body {
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	font-size: 20px;
	background-color: rgb(4,4,4);
	color: #fff;
	margin: 0 auto;
	max-width: 1024px;
	padding-top: 20px;
}

a {

	&:link {
		color: #fff; 
		text-decoration: none;
	}

	&:visited {
		color: #fff;
	}

	&:hover {
		color: rgb(219,57,63);
	}

}

img {
	width: 100%;
	
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;

	li {
		list-style: none;
		display: inline-block;
		line-height: 1em;
		padding: 0 20px;
		font-size: 25px;
	 
		&:nth-child(5) {
			padding: 0;
		
		}
	
		&:first-child {
			padding: 0;
		}
	}
}

header {
	display: flex;
	padding-top: 20px;
	
	img {
		justify-content: center;
		
	}
}

main {
	padding-top: 10px;

}

#portfolio_row {
	
	.col-1-3 {
		@include borderStyle($accentColor);
	padding: 10px 0;
		
		
	}
	
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;

}

footer {

	clear: both;
	background-color: #888;
	
	ul {


	}

	li {
		font-size: 18px;
		list-style: none;

			&:first-child {
				font-weight: bold;

			}

			a {
				&:hover {
					color: #fff;
				}
			}
	
	}

}	


